.item img{
    height: 100px;
    width: 100px;
}
.work img{
    height: 500px;
    width: auto;
}
.footer-icon {
    color: gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 20px;
}